/*palette
lightgreen: rgba(120, 199, 72, 1)
green: rgba(77, 150, 22, 1)
*/
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.libre-franklin-<uniquifier> {
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
    */

.libre-franklin-title {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 2.5em;
    }

.icon{
    text-decoration: none;
    border: 0.5px solid #000000;
    border-radius: 4px;
}    

.current{
    border: 2px solid #000000;
}

.current, .current a{
    background-color: #71e618;
}

body{
    min-width: auto;
    min-height: 1000px;
    background-image: none;
    background-color: #b5ff87;
    background: linear-gradient(#b5ff87, #3e751c);
    font-family: "Libre Franklin", sans-serif;
    margin: 0;
}

a[href="#content"]{
    text-decoration: none;
    background-color: #4e9717;
    color: #000000;
    font-size: 0.5em;
    display: block;
    margin: 0;
}

header{
    background-color: #4e9717;
    text-align: center;
}

p{
    margin: 0.3em;
}

nav{
    font-size: 1.2em;
}

ul{
    background-image: url("https://raw.githubusercontent.com/SrNe1103/Lemunantu/refs/heads/master/images/wood_background.jpeg");
    padding: 0.1em 0 0.1em 0.1em;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: nowrap;
    margin: 0.4em 0 0.4em 0;
}

nav li{
    background-color: #5bb119;
    border: 0.5px solid #000000;
    border-radius: 5px;
    padding: 0.2em;
    width: 20%;
    min-width: fit-content;
    max-width: 200px;
    margin: 0 0.1em 0 0.1em;
}

nav a{
    background-color: #5bb119;
    color: #000000;
    text-decoration: none;
    padding: 0.2em;
}

nav li:hover a, nav li:hover{
    background-color: #3e751c;
    color: #ffffff;
}

footer a{
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}