/*palette
lightgreen: rgba(120, 199, 72, 1)
green: rgba(77, 150, 22, 1)
*/
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.libre-franklin-<uniquifier> {
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
    */

.libre-franklin-title {
    font-family: "Libre Franklin", asns-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    }

.icon{
    color: rgb(44, 0, 146);
    background: none;
    text-decoration: none;
    display: table-cell;
}    

body{
    background-image: none;
    background-color: rgba(122, 201, 73, 0.39);
    font-family: "Libre Franklin", sans-serif;
}

header{
    background-color: rgba(77, 150, 22, 1);
    text-align: center;
}

nav{
    display: table;
    text-align: center;
}

nav li{
    display: table-cell;
    background-color: rgb(91, 177, 25);
    width: 9em;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    text-indent: 0.25em;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer a{
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}